%h1= "Greetings #{@user.email}"
%p{:style => 'color:red; font-size: 34px;'}
  I noticed that you just logged in.
  I think that is really nice  :) you are silly aren't you!
%p
  signed, the admin. xoxoxo